---
interface Props {
	imgSrc?: string;
	imgAlt?: string;
	title?: string;
	company?: string;
	date?: string;
	tags?: string;
}

const {imgSrc,imgAlt,title,company,date,tags} = Astro.props;
---
<div class="p-4 border-2 border-dark bg-light dark:border-light dark:bg-dark2 md:p-8">

  <div class="flex items-center gap-4 xl:gap-6">
    <img src={imgSrc} alt={imgAlt} class="h-[30px] xl:h-[75px]">
    <div>
      <h2 class="text-lg xl:text-2xl">{title}</h2>
      <p>{company}</p>
      <p>{date}</p>
    </div>
  </div>

  <ul class="px-4 py-8 list-disc">
    <slot />
  </ul>

  <ul class="w-full mb-4 flex flex-wrap gap-x-4 gap-y-2 opacity-50">
    {tags?.split(", ").map(tag => <li class="underline">{tag}</li>)}
  </ul>
</div>

